#div-base{
    margin-bottom: 10px;
}

body{
    background-color:  #8a8a82;
}

.centrado{
    text-align: center;   
}

.card{
    margin-bottom: 13px;
}

#devolucion-monedas{
    margin-top: 30px;
}
