.centrado{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 100px;
}


#carta-pokemon{
    text-align: center;
}

.card{
    margin-bottom: 15px;
    background-color: #97B6E6;
    cursor: pointer;
}